* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e6ecf0;
}

*:focus {
	box-shadow: none !important;
}

.App {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.user-nav {
	border-radius: 25px;
}

.user-nav:hover {
	background-color: #e6ecf0;
}

.mobileNav {
	position: fixed;
	bottom: 0;
	background-color: #29456e;
	z-index: 2;
	margin-top: 75px;
	height: 45px;
	width: 100%;
}

.border-grey {
	border: 1px solid #6c757d;
}

.bg-blue {
	background-color: #4f96d5;
}

.bg-darkblue {
	background-color: #30446d;
}

.text-blue {
	color: #4f96d5;
}

.text-darkblue {
	color: #30446d;
}

.btn-blue {
	background-color: #4f96d5;
	color: white;
}

.btn-darkblue {
	background-color: #30446d;
	color: white;
}

.mini-avatar {
	height: 16px;
	width: 16px;
}

.ultra-small-avatar {
	height: 32px;
	width: 32px;
	border: 2px solid #ffffff;
}

.small-avatar {
	height: 48px;
	width: 48px;
	border: 2px solid #ffffff;
}

.medium-avatar {
	height: 64px;
	width: 64px;
	border: 2px solid #ffffff;
}

.large-avatar {
	height: 128px;
	width: 128px;
	border: 3px solid #ffffff;
}

.extra-large-avatar {
	height: 156px;
	width: 156px;
}

.profile-avatar {
	position: absolute;
	top: -60px;
	left: 30px;
}

img {
	width: 100%;
	height: 100%;
}

li {
	text-decoration: none;
	list-style: none;
}

a,
.dropdown-item {
	text-decoration: none;
	color: #5a6268;
}
a:hover {
	text-decoration: none;
	color: #30446d;
}

.link-menu:hover {
	text-decoration: none;
	color: #5a6268;
	border-bottom: 3px solid #30446d;
}

.child-comment {
	padding-left: 2em;
}

.fa:hover,
.far:hover {
	color: #30446d;
}

.lightgrey {
	color: #bdbebf;
}

.spinner {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background-color: #30446d;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1s infinite ease-in-out;
	animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

.settings:hover .settings-child {
	background-color: white !important;
	color: #30446d;
}

.link-icon:hover .icon-child {
	color: #30446d;
}
