:root {
	--main-blue-color: #4f96d5;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e6ecf0;
}

*:focus {
	box-shadow: none !important;
}

.App {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.landing-call {
	position: relative;
	margin: auto;
	padding-top: 150px;
	padding-left: 100px;
	padding-right: 100px;
}

.sticky {
	position: sticky !important;
	top: 0 !important;
	z-index: 2;
}

img {
	width: 100%;
	height: 100%;
}

li {
	text-decoration: none;
	list-style: none;
}

a,
.dropdown-item {
	text-decoration: none;
	color: #5a6268;
}
a:hover {
	text-decoration: none;
	color: var(--main-blue-color);
}

.link-menu:hover {
	text-decoration: none;
	color: #5a6268;
	border-bottom: 3px solid var(--main-blue-color);
}

.nav-link {
	border-radius: 25px;
}

.nav-link:hover {
	background-color: var(--main-blue-color);
	color: white;
	border: white;
}

.drop-link:hover {
	background-color: var(--main-blue-color);
	color: white;
}

.mobileNav {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #e6ecf0;
	background-color: white;
	z-index: 2;
	margin-top: 75px;
	height: 45px;
	width: 100%;
}

.show-datepicker {
	background-color: white;
	z-index: 2;
	position: fixed;
	bottom: 50px;
	right: 5px;
	-webkit-box-shadow: -5px 0px 14px 3px rgba(148, 142, 148, 0.75);
	-moz-box-shadow: -5px 0px 14px 3px rgba(148, 142, 148, 0.75);
	box-shadow: -5px 0px 14px 3px rgba(148, 142, 148, 0.75);
}

.tag {
	border-radius: 25px;
	margin: 1px;
	border: 1px solid #6c757d;
}

.actiontags:hover {
	background-color: var(--main-blue-color);
	color: white;
	border: 1px solid white;
}

.bg-blue {
	background-color: var(--main-blue-color);
}

.bg-darkblue {
	background-color: #30446d;
}

.text-blue {
	color: var(--main-blue-color);
}

.text-darkblue {
	color: #30446d;
}

.btn-blue {
	background-color: var(--main-blue-color);
	color: white;
}

.btn-blue:hover {
	background-color: white;
	color: var(--main-blue-color);
	border: 1px solid var;
}

.btn-orange {
	background-color: #ffbb33;
	color: white;
}

.btn-orange:hover {
	background-color: white;
	color: #ffbb33;
	border: 1px solid #ffbb33;
}

.mini-avatar {
	height: 16px;
	width: 16px;
}

.ultra-small-avatar {
	height: 32px;
	width: 32px;
	border: 2px solid #ffffff;
}

.small-avatar {
	height: 48px;
	width: 48px;
	border: 2px solid #ffffff;
}

.medium-avatar {
	height: 64px;
	width: 64px;
	border: 2px solid #ffffff;
}

.large-avatar {
	height: 128px;
	width: 128px;
	border: 3px solid #ffffff;
}

.extra-large-avatar {
	height: 156px;
	width: 156px;
	border: 4px solid #ffffff;
}

.profile-avatar {
	position: absolute;
	top: -60px;
	left: 30px;
	height: 128px;
	width: 128px;
	border: 3px solid #ffffff;
}

.child-comment {
	padding-left: 2em;
}

.lightgrey {
	color: #bdbebf;
}

.spinner {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background-color: #30446d;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1s infinite ease-in-out;
	animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

.settings:hover .settings-child {
	background-color: white !important;
	color: var(--main-blue-color);
}

.link-icon:hover .icon-child {
	color: var(--main-blue-color);
}

.Range
	.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
	background-color: #f0f8ff !important;
	color: var(--main-blue-color);
}
.Range .DayPicker-Day {
	border-radius: 0 !important;
}

.mob-comment {
	padding: 10px;
}

.brand {
	padding: 20px;
	margin: 0;
}

.register {
	border-left: 1px solid #e0e0e0;
}

@media only screen and (max-width: 990px) {
	.nav-link {
		border-radius: 50px;
		padding-left: 0;
		padding-right: 0;
		width: 25%;
		margin: auto;
	}

	.nav-link:hover {
		background-color: #4f96d5;
		color: white;
		border: white;
	}

	.landing-call {
		position: relative;
		margin: auto;
		padding: 25px 0 0;
	}

	.brand {
		padding: 10px;
		margin: 0;
	}

	.register {
		border-left: none;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 769px) {
	.profile-avatar {
		position: absolute;
		top: -50px;
		left: 25px;
		height: 100px;
		width: 100px;
		border: 3px solid #ffffff;
	}

	.social-links {
		padding-left: 25px;
		padding-right: 0px;
	}

	.landing-call {
		position: relative;
		margin: auto;
		padding: 25px 0 0;
	}

	.brand {
		padding: 10px;
		margin: 0;
	}

	.register {
		border-left: none;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.profile-avatar {
		position: absolute;
		top: -50px;
		left: 15px;
		height: 90px;
		width: 90px;
		border: 3px solid #ffffff;
	}

	.nav-link {
		border-radius: 50px;
		width: 50%;
		margin: auto;
	}

	.nav-link:hover {
		background-color: var(--main-blue-color);
		color: white;
		border: white;
	}

	.landing-call {
		position: relative;
		margin: auto;
		padding: 25px 0 0;
	}

	.brand {
		padding: 10px;
		margin: 0;
	}

	.register {
		border-left: none;
		margin-top: 10px;
	}
}
